.last-lessons-container {
  padding: 16px;
}

.last-lessons {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.last-lessons .unit-lesson {
  padding: 8px;
  border: 1px solid var(--shadow-color);
  box-shadow: 1px 1px 1px 0 var(--shadow-color);
  border-radius: 6px;
}

.last-lessons .unit-lesson h3 {
  margin-bottom: 8px;
  font-weight: bold;
}

.last-lessons .unit-lesson p {
  margin-bottom: 8px;
}

.last-lessons div a {
  display: inline-block;
  margin-right: 8px;
}