<!DOCTYPE html>
<html>
  <head>
    <title>Lessons - Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/home.css">
  </head>
  <body>
    <section class="top-bar">
      <span>Programación desde cero</span>
      <a href="/index.html">Salir</a>
    </section>
    <section>
      <nav class="main-nav">
        <ul>
          <li><a>Lecciones</a></li>
          <li><a>Ejercicios</a></li>
          <li><a>Stack blitz</a></li>
          <li><a>Repositorios</a></li>
        </ul>
      </nav>
    </section>
    <section class="news">
    </section>
    <script src="./scripts/home.js" type="module"></script>
  </body>
</html>