@import url('colors.css');
@import url('font-sizes.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('../../shared/styles/top-bar.css');
@import url('../../shared/styles/nav-bar.css');

html {
  font-size: 100%;
}

body {
  font-size: var(--normal-text-size);
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--clickable-color);
  font-size: var(--normal-text-size);
}

p {
  font-size: var(--normal-text-size);
}

h1 {
  font-size: var(--main-header-text-size);
}

h2 {
  font-size: var(--header-text-size);
}

h3 {
  font-size: var(--small-header-text-size);
}