<section class="top-bar">
  <span>Programación desde cero</span>
  <a class="nav-link" href="log-in">Salir</a>
</section>
<section>
  <nav class="main-nav">
    <ul class="sub-menu-parent">
      <li><a>Lecciones</a></li>
      <li><a>Ejercicios</a></li>
      <li>
        <a>Stack blitz</a>
        <div class="sub-menu">
          <p class="sub-menu-option">Opcion de Blitz</p>
        </div>
      </li>
      <li >
        <a>Repositorios</a>
        <div class="sub-menu">
          <p class="sub-menu-option">Opcion de repositorios</p>
          <p class="sub-menu-option">Opcion de repositorios</p>
        </div>
      </li>
    </ul>
  </nav>
</section>
<section class="last-lessons-container">
  <h2>Lecciones Recientes</h2>
  <div class="last-lessons">

  </div>
</section>
