<section class="top-bar">
  <span>Programación desde cero</span>
  <a class="nav-link" href="log-in">Salir</a>
</section>
<section>
  <nav class="main-nav">
    <ul class="sub-menu-parent">
      <span><a>Lecciones</a></span>
      <span><a>Ejercicios</a></span>
      <span>
        <a>Stack blitz</a>
        <div class="sub-menu">
          <p class="sub-menu-option">Opcion de Blitz</p>
        </div>
      </span>
      <span >
        <a>Repositorios</a>
        <div class="sub-menu">
          <p class="sub-menu-option">Opcion de repositorios</p>
          <p class="sub-menu-option">Opcion de repositorios</p>
        </div>
      </span>
    </ul>
  </nav>
</section>
<section class="lessons">
</section>
<!-- <section class="videos">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/zS2uA3_YXwU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section> -->
