@import url('../../../core/resetter.css');
@import url('../../../core/global.css');

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.top-bar span {
  font-size: 0.625rem;
}

.top-bar a {
  display: inline-block;
}

.main-nav {
  width: 100vw;
  box-shadow: 1px 2px 4px 0px var(--shadow-color);
}

.main-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 8px 16px;
  background-color: var(--fill-color);
}

.news {
  padding: 16px;
}